.nme h3{
  font-size: 1.4rem;
}
.nme p{
    font-size: 0.8rem;
    line-height: 3px;
}
.time{
  display: grid;
  justify-content: center;
  align-items: center;
  padding-top: 12px;
  box-shadow: 0px 0px 4px 0px black;
  border-radius: 10px;
  width: 55px;
  font-size: 1.2rem;
}
.fil
{
  display: grid;
  justify-content: end;
  width: 85%;
  margin-bottom: 10px;
}